<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body style='width: 500px; padding: 5px;'>
<p style="font-size:20px;word-spacing: normal;margin: 50px;font-family: Comic Sans MS;">
    <form action="/" method="post">
        <h1>Quote:
    <input type="text" name="quote" value="try entering :'random'"/></h1>

        <br/>
       <h1>Access Token:
           <input type="text" name="accessToken" value="accessToken"/></h1>

        <br/><br/>
        <input type="submit" value="Submit"/>
    </form>

    <p>README.md</p>

</p></body></html>;